# The MongoDB url should only include the portion of the url AFTER the @ symbol
# The full url will be constructed using the url, username and password provided
MONGO_DB_URL=myurl.com
MONGO_DB_USERNAME=username
MONGO_DB_PASSWORD=password

# Set the port to whichever port you want the app to respond to
PORT=8080
# Set GIN_MODE to release for a release build
GIN_MODE=debug